<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p draggable="true"  id="8lbl"class="lbl draggable" ondragstart="drag(event)"  style="position: absolute; left: 833px; top:162px;background-color: ; color: "><span contenteditable="true">First Name:&nbsp;</span>&nbsp;&nbsp;</p>
<p draggable="true"  id="11lbl"class="lbl draggable" ondragstart="drag(event)"  style="position: absolute; left: 886px; top:192px;background-color: ; color: "><span contenteditable="true">Last Name:</span>&nbsp;&nbsp;</p>
<button draggable="true"  id="1btn"class="btn draggable" authenticated="true" onClick="f1btnAuth(this)" atttributeditem1="20input" atttributeditem2="21input"  ondragstart="drag(event)" style="position: absolute; left: 897px; top:290px;background-color: rgb(250, 0, 0); color: ">Login</button>
<input type="text" draggable="true"  id="20input"class="input draggable" ondragstart="drag(event)"  style="position: absolute; left: 931px; top:161px;background-color: ; color: " placeholder="First Name">
<input type="text" draggable="true"  id="21input"class="input draggable" ondragstart="drag(event)"  style="position: absolute; left: 969px; top:195px;background-color: ; color: " placeholder="Last Name">
<script>var auth1btn=["", ""];function f1btnAuth(el) {auth1btn = [document.getElementById("20input").value, document.getElementById("21input").value]}</script><style>.btn {width: 100px;height: 50px;};</style>
</body>
</html>