<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<p draggable="true"  id="3"class="lbl draggable" ondragstart="drag(event)"  style="position: absolute; left: 526px; top:215px;background-color: ; color: "></p>
<p draggable="true"  id="4"class="lbl draggable" ondragstart="drag(event)"  style="position: absolute; left: 780px; top:267px;background-color: ; color: "></p>
<button draggable="true"  id="1"class="btn draggable" authenticated="true" ondragstart="drag(event)" style="position: absolute; left: 756px; top:304px;background-color: rgb(240, 0, 0); color: rgb(68, 255, 0)">Login</button>
<style>.btn {width: 100px;height: 50px;};</style>
</body>
</html>